.confirmSlot {
    background-image: url('../../media/artist1212.jpg'); 
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;

}

.confirmSlot .currentHeader h3 {
    text-align: right;
    color: #C3941D ;
    padding-right: 5%;
 }

.confirmSlot .currentBody {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.slotDetails {
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmCard{
    width: 100%;
     opacity: 0.9;
    text-align: center;
    margin-top: 37%;
}
.confirmDates {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.confirmDates h2 , .confirmDates h3{
    margin: 0;
}

.succes {
    opacity: 0.8;
}

.confirmSlot .currentfooter button {
    width: 50%;
    height: 4rem;
    background-color: #C3941D !important;
    color: black !important;
    font-size: large;
    margin-top: 5%;
    z-index: 20;
}

.confirmSlot .currentfooter h2 {
    margin-top: 10%;
}

.succcesMsgConfirm {
    color: #C3941D;
    position: relative;
    top: 4rem;
    text-align: center;
}
