.chooseDate {
    background-color: var(--back);
}

.chooseDate .currentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 4% auto;
}
.react-calendar {
    background-color: var(--back);
    color: var(--text);
    border: none;
}
.react-calendar__navigation button {
    color:  var(--text);
   border-top: 1px solid  var(--text);
}
/* .react-calendar__month-view__weekdays {
    color: grey;
    text-align: center;
    margin-top: 1rem;
} */
 .react-calendar__month-view__weekdays {
    color:  var(--text);
    border-bottom: 1px solid  var(--text);
    font-size: small;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: none !important;
}



.react-calendar__month-view__days__day {
    color: var(--unique);
}

.react-calendar button:disabled {
    background-color: transparent !important;
} 
.react-calendar__tile:disabled {
    background-color: transparent;
    color:var(--assist);
  }

.react-calendar__tile--active {
    background-color: var(--unique) !important;
    color:  var(--back);
}

.react-calendar__month-view__days {
    color:  var(--text);
}

.chooseDate .currentHeader h3 {
    text-align: center;
    color: var(--unique) ;
 }

 .avaiabily {
     width: 100%;
     height: 10rem;
     display: grid;
     grid-template-columns : repeat(auto-fill, minmax(4rem, 1fr));
     grid-gap: 6%;


 }
 .hourPick {
     background: transparent;
     border: 1px solid var(--unique);
     color: var(--unique);
     padding: 1%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .thePickedHour {
     background-color:var(--unique) ;
     color: var(--back);
 }


.noSlotsText {
    text-align: center;
    color: var(--assist);
    width: 75%;
    margin: auto;
}

.avaiabily .loader {
    margin-top: 20vh !important;
}
