.manageDaysOffSec{
    width: 100%;
    height: 100vh;
    color: var(--text);
    background-color: var(--back);
}

.daysoffSecHeader {
    width: 100%;
    height: 5vh;
    padding: 5%;
}

.daysOffActionSec {
    width: 100%;
    height: 80vh;
}

.pickedDaysOffs {
    width: 90%;
    margin: -3rem auto;
}

.daysoffSecButton {
    display: flex;
   justify-content: center;
   margin-top: 5rem;
}
.daysoffSecButton button {
    width: 50%;
    height: 4rem;
    background-color: var(--unique) !important;
    color: var(--back) !important;
    font-size: large !important;
}
.daysoffmessage{
    text-align: center;
}

.selectedDaysOff {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12vh;
    margin-top: 5vh;
}

.selectedDaysOff h2 {
    margin: 0;
}

.singleSelectedDate {
    width: 30%;
    border: 1px solid var(--unique);
    border-radius: 5px;
    color: var(--unique);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    padding: 1%;
}

.infoDiv {
    width: 80%;
    height: fit-content;
    position: absolute;
    top: 8vh;
    left: 10vw;
    z-index: 20;
    background-color: var(--text);
    color: var(--back);
    border-radius: 15px;
    padding: 3%;
    font-size: large;

}

.viewDaysBody {
    width: 80%;
    height: 60vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    margin: 10vh auto;
}

.viewDayBodyInput , .viewDaysBodyResults {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: center;

}

.viewDaysItemDiv{
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
}

.viewDaysItemDiv .checkbox {
  width: 90%;
}
.viewDayBodyInput {
    overflow-y: scroll;
}

.viewDayBodyInput label {
    color: var(--text) !important;
}

.viewDaysBodyResults{
   background-color: var(--unique);
   border-radius: 15px;
   overflow-y: scroll;
}

.noVacyDayMessage {
    width: 90%;
    height: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 20vh;
}