.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

 .header i {
    color: var(--text) !important;
} 

.welcome {
    width: 100vw;
    height: 100vh;
    background: url('../../media/showcase.jpg') no-repeat center center / cover;
}

/* .menuBarDiv{
    width: 10%;
    height: 100%;
    background-color: transparent;
    position: relative;
}

.hamburgerDiv , .toggleMenuBar{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hamburgerDiv div {
    width: 100%;
    height: 10%;
    background-color: var(--text);
}

.hamburgerLine1{
    transform: rotate(45deg);
}
.hamburgerLine2{
    transform: rotate(-45deg);
    margin-bottom: 80%;
}
.hamburgerLine3{
    display: none;
}

.toggleMenuBar{
    border: none;
    background-color: transparent;
    z-index: 10;
} */

@keyframes openSec {
    from {left:-100vw;}
    to {left:0;}
    
}

.menuBarSec{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--back);
    opacity: 0.9;
    margin: auto;
    animation: openSec 0.3s linear;
}

.menuBarSec ul {
    width: 100%;
    /* min-height: 30%; */
    list-style: none;
    color: var(--text);
    margin-top: 10vh;
}

.menuBarSec ul li div{
    height: 3rem;
    font-size: 22px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.activeh2 {
    color: var(--unique);
}


.activeItem {
    min-height: 25rem;
}

.aboutUsLi p {
    margin-top: 2rem;
}


.logoDiv {
    width: 60vw;
    height: 30vh;
    background-color: transparent;
    background-image: url('../../media/lgoo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    bottom: 25vh;
}


.welcome .currentfooter button {
    width: 70%;
    height: 4rem;
    background-color: var(--unique) !important;
    color: black !important;
    font-size: large;
}

.loginModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: black;
}
