.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

 .header i {
    color: var(--text) !important;
} 

.welcome {
    width: 100vw;
    height: 100vh;
    background: url('../../media/showcase.jpg') no-repeat center center / cover;
}

.logoDiv {
    width: 60vw;
    height: 30vh;
    background-color: transparent;
    background-image: url('../../media/lgoo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    bottom: 25vh;
}


.welcome .currentfooter button {
    width: 70%;
    height: 4rem;
    background-color: var(--unique) !important;
    color: black !important;
    font-size: large;
}

.loginModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: black;
}
