
.App .menu {
    width: 100vw;
   justify-content: space-evenly;
   background: var(--back) !important;
   padding: 1%;
   margin: 0 !important;
}

.App .menu .active {
    background:var(--unique)  !important;
}
.App .menu .item {
  color: var(--text) !important;
}

.App .segment {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.adminPage {
    width: 100vw;
    background-color: var(--back);
    margin: auto;
    color: var(--text);
    padding-top: 5%;
    padding-bottom: 5%;
}

.adminPage h2 {
   text-align: center;

}

.headingMessgaeSchedule {
    color:  honeydew;
    margin-left: 0.5rem;
}

.slotHour{
    width: 90vw;
    min-height: 4vh;
    background-color: transparent;
    border: 1px solid var(--unique);
    padding: 2%;
    margin: 1rem auto;
    border-radius: 15px;
    font-size: large;

}

.reserved {
    background-color: var(--unique);
    color: var(--back);
    display: flex;
    justify-content: space-between;
}

.modalSlot {
    width: 100vw;
    height: 100vh;
    background: var(--back);
    position: fixed;
    top: 0;
}

.closeMidalBTN {
    float: left;
    border: none;
    background-color: var(--back);
    color: var(--text);
    padding: 5%;
    font-size: x-large;
}

.modalBody {
    width: 100vw;
    height: 70vh;
    margin-top: 8vh;
    padding: 2%;
    margin: 8vh auto;
}

.ModalDateAndHour {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.ModalClientInfo {
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ModalClientInfo input {
    height: 20%;
    margin-bottom: 10%;
    font-size: large;
    padding: 3%;
    background: transparent;
    border: 2px solid var(--text);
    border-radius: 15px;
}

.ModalClientInfo input:focus {
    border-color: var(--unique);
}

.modalTypeSelcet {
    width: 100vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    padding: 5%;
    margin-top: -5%;
    margin-bottom: 10%;
}
.thretmentTypeItem {
    border: 1px solid var(--text);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.modalTypeSelcet .selectedType {
    opacity: 1;
    border: 5px solid var(--unique);
}

.modalBody button {
    width: 100%;
    height: 4rem;
    background-color: var(--unique) !important;
    color: var(--text) !important;
    font-size: x-large !important;
}

.successMessage {
    color: var(--unique);
    text-align: center;
}

.closeDaySec {
    width: 100vw;
    height: 10vh;
    background-color: gray;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1%;
}
.closeDaySec button {
    background-color: transparent !important;
    border: 1px var(--back) solid !important;
    background-color: var(--unique) !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 90%;
}

.backToMenu{
  border: none;
  color: var(--back);
  font-size: large;
  background-color: var(--text);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 50;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0%;
  top: 0%;
}

.segment .reply {
    position: absolute;
    left: 2%;
    top: 1%;
    color: var(--unique);
}